.services-details {
    .details {
        padding-block: 50px;

        .head {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;

            >div {
                width: calc(100% / 2 - 20px);
                padding: 25px;
            }

            .image {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 400px;
                    height: 400px;
                    object-fit: contain;
                    border-radius: 20px;
                }
            }

            .info {
                h2 {
                    color: var(--main_color);
                    font-size: clamp(17px, 4vw, 22px);
                }

                >p {
                    margin-top: 10px;
                    font-size: clamp(16px, 4vw, 18px);
                    line-height: 1.7;
                }
            }
        }

        h3 {
            text-align: center;
            margin-block: 20px;
            font-size: clamp(17px, 4vw, 23px);
            color: var(--main_color);
        }

        .featuer {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 15px;

            .box {
                background-color: var(--therd_color);
                border: 1px solid #808080;
                padding: 12px 15px;
                border-radius: 10px;

                .num {
                    p {
                        background-color: var(--main_color);
                        color: #FFF;
                        width: fit-content;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 28px;
                        padding: 7px;
                        border-radius: 50%;
                        margin-bottom: 7px;
                    }
                }

                .info-box {
                    h4 {
                        font-size: clamp(15px, 4vw, 17px);
                        margin-bottom: 7px;
                    }

                    p {
                        font-size: clamp(14px, 4vw, 16px);
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .services-details {
        .details {
            .image {
                img {
                    height: 200px;
                }
            }

            .info {
                .featuer {
                    grid-template-columns: repeat(1, 1fr);

                    .box {
                        .num {
                            p {
                                padding-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}